<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <link rel="stylesheet" href="/css/main.css">
    <title>Accessibility Application Home Page</title>

    <body>
        <main>
            <header>
                <nav>
                    <ul class="navbar">
                         <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                          <li class="nav-item"><a href="/audio" class="nav-link">Audio</a></li>
                        <li class="nav-item"><a href="/video" class="nav-link">Video</a></li>
                   </ul>
                </nav>
              </header>

            <section class="container">
                <h1 class="title">Life is beautiful"</h1>
                <h2 class="description">Though some days are low while others we are elated. Sometimes, we need to look a little harder to see the beauty of different phases of life. For that reason, I’ve gathered some of my favorite quotes, pictures, and sayings about life to refresh your perspective and remind you of what a wonderful gift it is to be alive.</h2>

                <section class="player_audio">
                    <div class="img_flex">

                        <img src="/images/adventure-is-calling.jpg" class="audio_image" alt="illustration of mountains, trees and sun">    
                    </div>

                    <audio controls>
                    <source src="/audio/adventure-is-calling.mp3" type="audio/mp3">
                    <p>Your browser doesn't support HTML5 audio. Here is a <a href="https://www.bensound.com/royalty-free-music/track/sweet">link to the audio</a> instead.</p>
                    </audio>
                </section>


        </main> 
        
        <script src="/js/main.js"></script>
    </body>
</html>