<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Accessibility Application Home Page</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <ul class="navbar">
                     <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                      <li class="nav-item"><a href="/audio" class="nav-link">Audio</a></li>
                    <li class="nav-item"><a href="/video" class="nav-link">Video</a></li>
               </ul>
            </nav>
          </header>

        <section class="container">
           <p class="description_index">When websites and web tools are <strong> properly designed and coded</strong>, <strong>people with disabilities</strong> can use them. However, currently many sites and tools are developed with accessibility barriers that make them difficult or impossible for some people to use.

            Making the web accessible benefits individuals, businesses, and society. <strong>International web standards</strong> define what is needed for accessibility.</p>
            <div class="banner">
                <img src="/images/access.jpg" class="audio_image" alt="illustration of human senses">    
            </div>
        </section>
       
            
    </main>


    <script src="/js/main.js"></script>
 
</body>
</html>