<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

      <link rel="stylesheet" href="/css/main.css">
      <title>Accessibility Application Home Page</title>
  </head>

  <body>
      <main>
        <header>
          <nav>
              <ul class="navbar">
                   <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/audio" class="nav-link">Audio</a></li>
                  <li class="nav-item"><a href="/video" class="nav-link">Video</a></li>
             </ul>
          </nav>
        </header>

        <section class="container">
          <h1 class="title">Whiplash(2014)</h1>
          <p class="description">Andrew Neiman (Miles Teller) is an <em>ambitious young jazz drummer</em>, in pursuit of rising to the top of his elite music conservatory. Terence Fletcher (J.K. Simmons), an instructor known for his terrifying teaching methods, discovers Andrew and transfers the aspiring drummer into the top jazz ensemble, forever changing the young man's life. But Andrew's passion to achieve perfection quickly spirals into <em>obsession</em>, as his ruthless teacher pushes him to the brink of his ability and his sanity.</h2>
          <section class="player">
            <video controls>
              <source src="/video/Whiplash.mp4" type="video/mp4">
              <!-- <source src="brooklyn.webm" type="video/webm"> -->
              <p>Your browser doesn't support HTML5 video. Here is a <a href="../Whiplash.mp4">link to the video</a> instead.</p>
            </video>
          </section>
        </section>  
      </main>
      <script src="/js/main.js"></script>
  </body>
</html>




  

 
 